pre {
  padding: 0.5em;
}

li, p {
  font-family: $copy-family;
  font-size: $copy-size;
  line-height: 1.5;
  color: $copy-color;
}

p {
  margin: 1rem 0;
}

ol, ul {
  padding-left: 2em;
  margin: 0.25em 0;
}

main {
  grid-area: main;
}