
/*
 * Source Partial
 */
.source {
  margin: 1rem 0;
  
  p {
    margin: 0;
  }
}
.source-heading {
  font-size: 1.25em;
  margin-bottom: 0;
}

/*
 * Links
 */

/* Give heading links an indication of having a link without
   changing the color */
a {
  h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
  }
}

a[href="#"], a[href=""] {
  text-decoration: none;
  cursor: default;
}

a.future-link {
  color: #e64e4e;
}

/*
 * Code
 */

p > code {
  padding: 1px 5px;
  background-color: $code-background-color;
}