<nav class="menu">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    {{- $currentPage := . -}}
    {{- $scratch := newScratch }}
    {{- range where .Site.Sections "Type" "class" -}}
      {{- if $currentPage.IsDescendant . -}}
        {{- $scratch.Set "class" . -}}
      {{- end -}}
    {{- end -}}
    {{- $class := $scratch.Get "class" -}}

    <li>
      <a href="{{ $class.URL }}">{{ $class.Params.name }}</a>
    </li>  

    {{- range .Site.Menus.note -}}
      {{- range where .Children "Parent" $class.Title -}}
        {{ if .HasChildren }}
          <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          {{- if (len .Page.Content) gt 0 -}}
            <a href="{{ .URL }}">
          {{- else -}}
            <a href="#" class="cursor-default">
          {{- end -}}
              {{ .Name }}
            </a>
          
            <ul class="sub-menu">
              {{- range .Children }}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
              {{- end }}
            </ul>
          </li>
        {{ else }}
          <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{- end -}}
      {{- end -}}
    {{ end }}
  </ul>
</nav>