body {
  display: grid;
  grid-template-columns: $responsive-padding 1fr $responsive-padding;
  grid-template-rows: auto;
  grid-template-areas:
    ". menu ."
    ". main .";
}

#home-content {
  max-width: $home-content-width;
  width: 100%;
  margin: 0 auto;

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

#note-content {
  display: grid;
  grid-template-columns: [content-left] 1fr [copy-start] minmax(auto, $copy-width) [copy-end] 1fr [content-right];
  grid-row-gap: $copy-size;
  
  > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6), > div > pre {
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0;
  }

  > :not(div):not(img):not(picture):not(video) {
    grid-column-start: copy-start;
    grid-column-end: copy-end;
  }
  > div, > img, > picture, > video {
    grid-column-start: content-left;
    grid-column-end: content-right;
    margin-left: auto;
    margin-right: auto;
    min-width: $copy-width;
    @media (max-width: $copy-width + 20ch) {
      min-width: 100%;
    }
  }
}