{{/*
    Slink (short for Smart Link)
    Returns the link most closely associated to the string given
*/}}

{{/* Look for a heading with the given text */}}

{{- $scratch := newScratch }}
{{- $scratch.Set "shortcode" . }}
{{- $scratch.Set "match" false }}
{{- range .Site.Pages }}
  {{- $foundMatch := $scratch.Get "match" }}
  {{- if not ($scratch.Get "match") }}
    {{- $shortcode := $scratch.Get "shortcode" }}
    {{- $heading := findRE (printf "#[a-z-]*.>[^<]*%s[^<]*</a>" ($shortcode.Get 0)) .TableOfContents 1 }}
    {{- if $heading -}}
      {{- .Permalink }}#{{- replaceRE "#([a-z-]*).>[^<]*[^<]*</a>" "$1" (index $heading 0) -}}
      {{- $scratch.Set "match" true }}
    {{- end }}
  {{- end }}
{{- end -}}

{{/* Look for non-heading content that contains the text */}}

